.cover__main {
    max-width: 560px;
    display: flex;
    position: absolute;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
}

@media screen and (max-width: 520px) {

    .cover__main {
        margin: 0 auto;
        width: 288px;
    }

}